body {
    background-image: url(https://bing.biturl.top/?resolution=1920&format=image&index=0&mkt=en-UK);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}